<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <form action="" method="post" class="smart-green">
    <h1>留言信息</h1>
    <label>
      <span>姓名:</span>
      <input type="text" id="name" name="name" class = "error"/>
      <div class="error-msg"></div>
    </label>
    <label>
      <span>邮箱:</span>
      <input type="text" id="name" name="name" class = "error"/>
      <div class="error-msg"></div>
    </label>
    <label>
      <span>电话:</span>
      <input type="text" id="name" name="name" class = "error"/>
      <div class="error-msg"></div>
    </label>
    <label>
      <span>地址:</span>
      <input type="text" id="name" name="name" class = "error"/>
      <div class="error-msg"></div>
    </label>
  </form>

</body>
</html>
